<style>
    .fa-brands{
        opacity: 0.7;
        color: rgb(255, 70, 134);
        background: white;
        
    }
    .fa-brands:hover{
        opacity: 1;
        /* color: white; */
        /* background: rgb(255, 70, 134); */
        transform: scale(1.5,1.5);
        transition: 0.2s ease-in;

       
        

    }
</style>
<footer>
    <div class="f_info ">
        <div class="f-info-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div> &copy;WanderLust Private limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>