<% layout("/layouts/boilerplate") %>
<style>
    .card {
        width: 18rem;
        border: 2px solid rgb(238, 76, 174);
    }
    .card img {
        height: 200px;
        object-fit: cover;
    }
    .row {
        margin-top: 20px;
    }

    .card-body a{
        margin-bottom: 1.01rem;
        margin-left: 5rem;

    }
    .card-body a:hover{
        color: rgb(233, 10, 10);
        background-color: rgb(247, 250, 250)  ;
    }
</style>
<h4>Search Results</h4>
  <div class="row">
    <% allListings.forEach(listing => { %>
      <div class="card col-3 m-2">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing">
        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
          <p class="card-text"><%= listing.location %></p>
          <a href="/listings/<%= listing._id %>" class="btn btn-danger">View</a>
        </div>
      </div>
    <% }) %>
  </div>
